@import "@/assets/style/var.scss";

// Buttons

@mixin main-button($bg: #fff, $hover-bg: #ec407a, $color: #fff) {
  padding: 10px;
  width: 30%;
  transition: 0.2s;
  background: $bg;
  border: 1px solid #2c3e50;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);

  outline: none;

  &:hover {
    background: $hover-bg;
    color: $color;

    cursor: pointer;
  }
}

@mixin additional-button {
  min-width: 60px;
  padding: 3px;
  background: #fff;
  border: 1px solid #2c3e50;
  outline: none;
  &:hover {
    background: #fafafa;
    border: 1px solid #ec407a;
    cursor: pointer;
  }
}

@mixin icon-button{
  background: none;
    border: none;
    outline: none;
    height: 30px;

    :hover {
      transform: scale(1.2);
      cursor: pointer;
    }

    img {
      width: 20px;

      transition: 0.2s;
    }
}
